#intro
  :markdown
    ## Welcome to the Manchester Art Gallery Collection Explorer

    Start by entering a keyword (or series of keywords) into the search box above.

    ## About the Collcetion Explorer

    This is the first service built on top of the new Manchester Art Gallery Open Data API (more details of which are [here](http://foo)), funded by the Eueopean Union as part of the __Code for Europe__ project.
