#work.row
  .query.col-md-3
    {{#if query}}
    %a.back-to-query(href="#")
      &laquo;
      Back to
      %strong {{query}}
    {{/if}}
    &nbsp;

  .image.col-md-6
    %img(src="{{work.imageURL}}")

  .col-md-3.details
    %h1 {{work.title}}
    %h2 {{work.creator}}

    %hr

    .group
      %h3 Accession number
      %p {{work.identifier}}
    {{#if work.description}}
    .group
      %h3 Description
      %p {{work.description}}
    {{/if}}
    {{#if work.type}}
    .group
      %h3 Medium
      %p {{work.type}}
    {{/if}}
    {{#if work.subject}}
    .group
      %h3 Tags
      %p {{work.subject}}
    {{/if}}
    {{#if work.on}}
    .group
      %h3 Created
      %p {{work.on}}
    {{else}}
    {{#if work.earliest}}
    .group
      %h3 Created
      %p Between {{work.earliest}} and {{work.latest}}
    {{/if}}
    {{/if}}
