$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$font-family-base: "Humanist 777 Light";
$font-size-base: 16px;

@import 'sass-bootstrap/lib/bootstrap';

div#works {
  @include clearfix();

  div.item {
    width: 33%;
    float: left;

    figure {
      padding: 20px;

      img {
        max-width: 100%;
      }
    }
  }
}
