$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$font-size-base: 16px;
$font-family-base: "Humanist 777", Helvetica, Arial, sans-serif !default;

$font-path: "/styles/fonts/humanist-777";

@import 'sass-bootstrap/lib/bootstrap';
@import "compass/css3/font-face";
@import "spinner";

@include font-face('Humanist 777', font-files('/styles/fonts/humanist-777-light-webfont.woff', '/styles/fonts/humanist-777-light-webfont.ttf', '/styles/fonts/humanist-777-light-webfont.svg'), '/styles/fonts/humanist-777-light-webfont.eot', 300);
@include font-face('Humanist 777', font-files('/styles/fonts/humanist-777-light-italic-webfont.woff', '/styles/fonts/humanist-777-light-italic-webfont.ttf', '/styles/fonts/humanist-777-light-italic-webfont.svg'), '/styles/fonts/humanist-777-light-italic-webfont.eot', 300, italic);
@include font-face('Humanist 777', font-files('/styles/fonts/humanist-777-webfont.woff', '/styles/fonts/humanist-777-webfont.ttf', '/styles/fonts/humanist-777-webfont.svg'), '/styles/fonts/humanist-777-webfont.eot', 400);
@include font-face('Humanist 777', font-files('/styles/fonts/humanist-777-italic-webfont.woff', '/styles/fonts/humanist-777-italic-webfont.ttf', '/styles/fonts/humanist-777-italic-webfont.svg'), '/styles/fonts/humanist-777-italic-webfont.eot', 400, italic);
@include font-face('Humanist 777', font-files('/styles/fonts/humanist-777-bold-webfont.woff', '/styles/fonts/humanist-777-bold-webfont.ttf', '/styles/fonts/humanist-777-bold-webfont.svg'), '/styles/fonts/humanist-777-bold-webfont.eot', 700);

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;



body {
  padding-top: 70px;
  font-weight: $font-weight-light;
}
input {
  font-weight: $font-weight-light;
}

.loader {
  width: 100%;

  .spinner {
    margin-left: auto;
    margin-right: auto;
  }
}

div#search {
  div.options {
    padding: 0 15px;

    h2 {
      font-size: 18px;
      font-weight: $font-weight-bold;
      padding: 0 0 5px 0;
      margin: 0 0 10px 0;
      border-bottom: 3px solid #333;
    }
    h3 {
      font-size: 16px;
      margin: 10px 0 0 0;
    }

    .windowed {
      height: 156px;
      overflow: scroll;
      width: 100%;
    }
  }

  header {
    padding: 0 20px 20px 20px;

    div.info {
      padding: 6px 15px;

      strong {
        font-weight: $font-weight-normal;
      }
    }
  }

  div.works {
    @include clearfix();

    // required by masonry
    div.grid-sizer {
      width: 33%;
    }

    div.item {
      width: 33%;

      figure {
        padding: 0 20px 20px 20px;

        img {
          max-width: 100%;
        }

        figcaption {
          margin-top: 7px;

          h2, h3 {
            font-size: 14px;
            margin: 0;
          }
          h2 {
            font-style: italic;
            font-weight: $font-weight-light;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}

div#work {
  margin-top: 30px;

  .query {
    a {
      margin-left: 15px;
    }
  }

  .image {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .details {
    background-color: rgba(255,255,255,0.7);

    h1,h2,h3 {
      margin: 0 5px 0 0;
    }
    h1 {
      font-weight: $font-weight-normal;
      font-style: italic;
      font-size: 16px;
    }
    h2 {
      font-weight: $font-weight-light;
      font-size: 16px;
    }
    h3 {
      font-weight: $font-weight-normal;
      font-size: 14px;
    }
    hr {
      margin: 15px 0;
    }
  }
}
