$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$font-family-base: "Humanist 777 Light";
$font-size-base: 16px;

@import 'sass-bootstrap/lib/bootstrap';

body {
  padding-top: 70px;
}

div#works {
  @include clearfix();

  div.item {
    width: 33%;
    float: left;

    figure {
      padding: 0 20px 20px 20px;

      img {
        max-width: 100%;
      }

      figcaption {
        margin-top: 7px;

        h2, h3 {
          font-size: 14px;
          margin: 0;
        }
        h2 {
          font-style: italic;
          font-weight: 300;
          // margin-bottom: 3px;
        }
      }
    }
  }
}
