%nav.navbar.navbar-default
  .container
    .navbar-header
      %a.navbar-brand
        Manchester Art Gallery
    .navbar-collapse
      %form.navbar-form(role="search")
        .form-group
          %input.form-control(type="text" placeholder="Explore…")

.container
  .row
    .col-md-2 Options Panel
    .col-md-9.col-md-offset-1
      %ul#works
