%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand
        Manchester Art Gallery
    .navbar-collapse
      %form#search.navbar-form(role="search")
        .form-group
          %input.form-control(type="text" placeholder="Explore…")
        %button.btn.btn-default(type="submit")
          %i.glyphicon.glyphicon-search

.container
  .row
    .col-md-2 Options Panel
    .col-md-9.col-md-offset-1
      #works
