%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %a.navbar-brand
        Manchester Art Gallery
    .navbar-collapse
      %form#search.navbar-form(role="search")
        .form-group
          %input.form-control(type="text" placeholder="Explore…" autofocus="true")
        %button.btn.btn-default(type="submit")
          %i.glyphicon.glyphicon-search

#main.container-fluid
