!!!
%html
    %head
        %meta(charset="utf-8")
        %meta(name="viewport" content="width=device-width, initial-scale=1")
        %title Manchester Art Gallery: Collection Explorer
        / build:js scripts/vendor/modernizr.js
        %script(src="bower_components/modernizr/modernizr.js")
        / endbuild
        %link(rel="stylesheet" href="styles/main.css")

        :javascript
            (function() {
                var path = '//easy.myfonts.net/v2/js?sid=156579(font-family=Humanist+777)&sid=156581(font-family=Humanist+777+Bold)&sid=156711(font-family=Humanist+777+Light)&key=CrYX1mMIoO',
                    protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
                    trial = document.createElement('script');
                trial.type = 'text/javascript';
                trial.async = true;
                trial.src = protocol + path;
                var head = document.getElementsByTagName("head")[0];
                head.appendChild(trial);
            })();
    %body
        +include 'app/body.haml'

        / build:js scripts/vendor.js
        %script(src="bower_components/jquery/jquery.js")
        %script(src="bower_components/underscore/underscore.js")
        %script(src="bower_components/backbone/backbone.js")
        %script(src="bower_components/handlebars/handlebars.js")

        %script(src="bower_components/eventie/eventie.js")
        %script(src="bower_components/doc-ready/doc-ready.js")
        %script(src="bower_components/get-style-property/get-style-property.js")
        %script(src="bower_components/get-size/get-size.js")
        %script(src="bower_components/eventEmitter/EventEmitter.js")
        %script(src="bower_components/jquery-bridget/jquery.bridget.js")
        %script(src="bower_components/matches-selector/matches-selector.js")
        %script(src="bower_components/outlayer/item.js")
        %script(src="bower_components/outlayer/outlayer.js")
        %script(src="bower_components/jquery-masonry/masonry.js")
        %script(src="bower_components/imagesloaded/imagesloaded.js")
        / endbuild

        / build:js({.tmp,app}) scripts/main.js
        %script(src="scripts/main.js")
        %script(src="scripts/templates.js")
        %script(src="scripts/models/work.js")
        %script(src="scripts/collections/works.js")
        %script(src="scripts/views/work.js")
        %script(src="scripts/routes/works.js")
        / endbuild
